/*头部*/
#h_head{
    width: 100%;
    height: 50px;
    text-align: center;
}

#h_head img{
    float: left;
    display: inline-block;
    vertical-align: middle;
}

#h_head span{
    float: right;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin-right: 10px;
}

#h_head h2{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
/*头部结束*/

/*内容部分，瀑布流*/
#h_container{
    width: 100%;
    overflow-y: auto;
}

#h_box{
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.box{
    padding: 5px;
    float: left;
}

.box-content{
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.box-content:hover{
    background: #888888;
}

.time{
    display: inline-block;
}

.happend{
    display: inline-block;
    margin: 20px 5px;
}
/*内容部分，瀑布流*/

/*第二部分，详细内容*/
#h_page2{
    width: 100%;
    overflow-y: auto;
    display: none;
}

#h_detail{
    margin: 0 auto;
}

#hd_time,#hd_title{
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}

#hd_content{
    font-size: 16px;
    line-height: 24px;
}