/*page1*/
/*标题*/
#pk_title{
    position: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    top: 20px;
}

#pk_title img{
    width: 300px;
    height: 80px;
}
/*标题结束*/
/*pk中间部分，选择城市*/
#pk_begin{
    display: table;
    width: 100%;
}

#pk_begin_c{
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

#pkcity_title{
    display: block;
    font-size: 26px;
    text-align: center;
}

#pk_begin_c div{
    width: 300px;
    margin: 16px auto;
}

#pk_begin_c div span,#page2_title div span{
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    text-align: center;
}

#pk_begin_c div span:hover,#pkcity_ok:hover{
    color: #89D9ED;
}

#pkcity_ok{
    display: block;
    font-size: 26px;
    text-align: center;
}
/*pk中间部分，选择城市结束*/
/*底部，关闭按钮*/
#pk_close{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 60px;
}

#pk_close div{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url("../img/pkclose.png") no-repeat center;
}

#pk_close div:hover{
    background: url("../img/close.png") no-repeat center;
}
/*底部，关闭按钮结束*/
/*选择城市弹出框*/
#c_cityl li{
    color: #888888;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

#c_cityl li:hover{
    background: #09F7F7;
}
/*page1结束*/

/*page2*/
#page1{
    /*display: none;*/
}

#page2{
    display: none;
}

#progresscanvas{
    display: none;
}
/*头部*/
#page2_title{
    width: 100%;
    height: 70px;
    text-align: center;
}

#page2_title div{
    margin-top: 10px;
}
/*tips*/
#prepertips{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
/*pkItem*/
.pkitem{
    width: 100%;
    height: 100px;
}

.tmpl,.tmpr{
    width: 60px;
    height: 100px;
    text-align: center;
}

.tmpl span,.tmpr span{
    display: block;
    margin-top: 5px;
    color: #5E5E5E;
}

.pkitem img{
    display: block;
    width: 48px;
    height: 48px;
    margin: 10px auto;
}

.tmpl{
    float: left;
}

.tmpr{
    float: right;
}

.pkcanvas{
    height: 100px;
    text-align: center;
}

.pkiitemcenter{
    display: inline-block;
    height: 100px;
    position: relative;
}

.canv{
    height: 100px;
}

.pkvalue{
    position: absolute;
    top: 10px;
}

.pkvalue_left{
    float: left;
    width: 70px;
    color: white;
    display: none;
}

.pkvalue_right{
    float: right;
    width: 70px;
    padding-left: 35px;
    color: white;
    display: none;
}

.pkleftv{
    background: url("../img/victory1.png") no-repeat right;
}

.pkrightv{
    background: url("../img/victory1.png") no-repeat left;
}
/*pkItem结束*/

/*总结*/
#pkconcluding{
    width: 230px;
    margin: 20px auto;
    text-align: center;
    display: none;
}

#pkconcluding span{
    color: #FFFFCC;
    font-size: 18px;
}

/*烟花*/
#fire{
    position: fixed;
    top: 0;
}

