/*头部*/
#header{
    width: 100%;
    /*background: saddlebrown;*/
    text-align: center;
}

#header img{
    width: 40px;
    height: 40px;
    float: left;
}

#cityname{
    width: 115px;
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    margin-left: 10px;
}

.locationcity{
    background: url("../img/location.png") no-repeat center right;
}

#time{
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 10px;
}
/*头部结束*/
/*内容部分*/
#content{
    width: 100%;
    overflow-y: auto;
}
/*上半部分天气详情*/
#weather_word{
    width: 65%;
    float: left;
    margin: 10px 0px;
}

#weather_word span{
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin-left: 10px;
}

#weather_icon{
    width: 35%;
    float: right;
}

#weather_icon img{
    margin-top: 16px;
}
/*上半部分天气详情结束*/
/*下半部分生活建议*/
#detail_suggesstion{
    width: 100%;
    clear: both;
    border-top: solid 1px #8585F2;
}

#suggesstion_title{
    width: 40%;
    float: left;
}

#suggesstion_title ul{
    border-right: solid 1px #8585F2;
}

#suggesstion_title ul li{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.suggesstion_selector,#suggesstion_title ul li:hover{
    background: #8585F2;
}

#suggesstion_detail{
    width: 60%;
    height: 350px;
    float: right;
}

#suggesstion_detail span{
    display: block;
    margin-top: 150px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 25px;
}